<section
  class="flex w-full flex-col-reverse 2xl:flex-row xl:flex-row items-center justify-center h-full border-none border-red-600 mt-0 xl:mt-10 lg:container 2xl:mt-32 xl:container 2xl:container xl:space-y-0 2xl:space-y-0 lg:px-32 lg:py-32 md:px-28 md:py-5 xl:px-20 2xl:px-20 md:mt-20 lg:mt-10 xl:py-10 2xl:py-20"
>
  <div
    class="w-full border-none border-green-600 flex flex-col justify-between mt-10 xl:mt-0 2xl:mt-0 space-y-10 p-10 xl:space-y-10 2xl:space-y-20"
  >
    <h1
      class="font-extrabold text-2xl xl:text-4xl 2xl:text-4xl uppercase text-blue-900 animate-fadeIn mt-0"
    >
      millennium tech solutions
    </h1>

    <p class="text-xs 2xl:text-sm font-semibold text-blue-500">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quo itaque
      eos dolorem deleniti natus sed voluptas suscipit ab iusto, commodi nulla
      exercitationem debitis tempora, veniam quasi, quisquam tempore. Eveniet,
      accusantium natus cupiditate distinctio nobis porro quaerat nisi ea at,
      culpa dolorum nam aut minima rem suscipit obcaecati, officiis perferendis
      incidunt deleniti? Id asperiores tempore recusandae? Accusamus aut
      officiis, nostrum eum excepturi sit voluptatum a quo reprehenderit
      doloribus maxime odio, in hic eius necessitatibus, labore aliquam. In
      labore voluptatibus eveniet quaerat eligendi impedit ullam, est quidem
      minus iste mollitia officia ea debitis soluta incidunt iure! At veritatis
      quidem praesentium porro.
    </p>

    <button
      class="w-[100px] bg-blue-900 hover:bg-blue-700 transition-colors duration-500 text-white p-2 rounded-md font-semibold capitalize"
      (click)="navigateToAbout()"
    >
      about us
    </button>
  </div>
  <div
    class="w-full h-full border-none border-black p-10 items-center justify-center"
  >
    <img
      src="/images/tech.jpg"
      alt="tech"
      loading="lazy"
      class="bg-center bg-cover"
      width="600px"
      height="600px"
    />
  </div>
  <!-- <img
    src="/images/tech.jpg"
    alt="tech"
    loading="lazy"
    class="bg-center bg-cover border-none w-full xl:w-[50%] 2xl:w-[50%]"
    width="600px"
    height="600px"
  /> -->
</section>
